<div class="pokemon-container">
  <!-- Pokemon Grid -->
  <div *ngIf="pokemonCards().length > 0" class="pokemon-grid">
    <!-- Random Pokemon Card -->
    <div class="pokemon-card random-pokemon-card" (click)="onRandomPokemonClick()">
      <div class="random-pokemon-icon">
        <mat-icon>help_outline</mat-icon>
      </div>
      <h3 class="pokemon-name">Random Pokemon</h3>
    </div>

    <!-- Regular Pokemon Cards -->
    <div
      *ngFor="let pokemon of pokemonCards()"
      class="pokemon-card"
      (click)="onPokemonClick(pokemon)"
    >
      <ng-container *ngIf="showImage()[pokemon.id] !== false; else notFound">
        <img
          [src]="pokemon.image"
          [alt]="pokemon.name"
          class="pokemon-image"
          loading="eager"
          (error)="onImageError(pokemon.id)"
        />
      </ng-container>
      <ng-template #notFound>
        <div class="pokemon-image-fallback">
          <mat-icon>image_not_supported</mat-icon>
        </div>
      </ng-template>
      <h3 class="pokemon-name">{{ capitalize(pokemon.name) }}</h3>
    </div>
  </div>

  <!-- Pagination -->
  <div *ngIf="pokemonCards().length > 0" class="pagination-container">
    <mat-paginator
      [length]="totalCount()"
  [pageSize]="pageSize()"
      [pageSizeOptions]="pageSizeOptions"
      [pageIndex]="currentPage()"
      (page)="onPageChange($event)"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
</div>
